<script>
import GlLogoSVG from '../assets/images/icon-w-drupal.svg';

export default {
  name: 'GlLogo',
  data() {
    return {
      GlLogoSVG,
    };
  },
};
</script>

<template>
  <router-link to="/" class="gl-px-3 gl-py-2 gl-transition-medium">
    <img :src="GlLogoSVG" alt="Drupal" class="gl-mx-2 gl-vertical-align-bottom" />
    Drupal.org infrastructure status
  </router-link>
</template>
