@import '@gitlab/ui/src/scss/gitlab_ui';
@import '@gitlab/ui/src/scss/utilities';
@import 'common';

/*
* Components' styles
*/
@import 'components/header';
// replace this import with import from @gitlab/ui utilities and remove the file itself
// and font-awesome npm dependency
@import 'components/markdown';

@import 'pages/list';

// Drupal overrides
$drupal-blue: #0678be;

.gl-bg-theme-indigo-900 {
  background-color: $drupal-blue;
}

.header {
  a {
    color: $white;
    line-height: 2.5em;
  }

  img {
    height: 2.5em;
  }
}
